.collapseCon {
  width: 2em;
  height: 2em;
  border: 2px solid #352e7e;
  background-color: transparent;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
}
.icons {
  align-self: center;
  transition: all 0.3s;
}

/* --------------------------------------------------- */

#collapseIcon {
  position: inherit;
  color: #352e7e;
  height: 60%;
  width: 60%;
  transform: rotate(135deg);
}

.collapsed {
  transform: rotate(-135deg);
}
