.card {
    background-color: transparent;
    min-width: 60vw;
    height: fit-content;
    border: none;
    margin-right: 70vw;
    color: #fff;
    position: relative;
    z-index: 10;
}

.content-wrapper {
    width: 40vw;
    margin-top: 20vh;
}