.card {
    background-color: transparent;
    min-width: 60vw;
    height: fit-content;
    border: none;
    margin-right: 35vw;
    color: #fff;
}

.content-wrapper {
    width: 500px;
    margin-top: 20vh;
    z-index: 10;
}

.card-img {
    z-index: 5;
}