.footer {
    position: fixed;
    min-width: 750px;
    bottom: 0px;
}
.collapseBtn {
    left: calc(50% - 2em);
}
.wrap {
    background-color: #EFF6E0;
}
.copyRight {
    height: 100px;
    background-color: #EFF6E0;
}