.footer {
  position: fixed;
  bottom: 0px;
  z-index: 1000;
}
.collapseBtn {
  left: calc(50% - 1em);
}
.wrap {
  color: #352e7e !important;
  background-color: #eff6e0;
}
.copyRight {
  height: 100px;
  width: 100%;
  color: #352e7e;
  background-color: #eff6e0;
}
