:root {
    --tomato-red: #D64045;
    --light-cyan: #E9FFF9;
    --powder-blue: #9ED8DB;
    --queen-blue: #467599;
    --prussian-blue: #1D3354;
}
body {
    margin: 0;
    height: 100vh;
    overflow-y: hidden;
}
#container {
    height: 100vh;
    width: 300vw;
    display: flex;
    position: absolute;
    left: 0;
    flex-direction: row;
    /* scrollbar-width: none;
    -ms-overflow-style: none; */
}
/* ::-webkit-scrollbar {
    display: none;
} */
header {
    height: 100%;
    width: 100vw;
    background-color: var(--tomato-red);
}
main {
    height: 100vh;
    width: 100vw;
    background-color: var(--powder-blue);
}
footer {
    height: 100vh;
    width: 100vw;
    background-color: var(--prussian-blue);
}
