:root {
    --beige: #EFF6E0;
    --cambridge-blue: #AEC3B0;
    --teal-blue: #598392;
    --midnight-green: #124559;
    --rich-black: #01161E;
}
body {
    margin: 0;
    height: 100vh;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
#container {
    height: 100vh;
    width: 300vw;
    background-image: linear-gradient(to right, 
        var(--rich-black), 
        var(--rich-black), 
        var(--midnight-green), 
        var(--teal-blue));
    display: flex;
    flex-direction: row;
    transition: left 0.05s;
    padding: 0 20vw;
}
::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 600px) {
}

